// turky theme - colors
$color-blue-01-turky: #4dbfed !default;
$color-blue-02: #1b81ab !default;
$color-blue-02h: #49bff0 !default;
$color-blue-03: #f6fcfe !default;

$color-grey-01: #1d1f24 !default;
$color-grey-02: #666666 !default;
$color-grey-03: #737373 !default;
$color-grey-04: #d1d1d1 !default;
$color-grey-05: #f6f6f6 !default;
$color-grey-06: #ececec !default;
$color-grey-07: #FAFAFA !default;
$color-grey-08: #c7c7c7 !default;

$color-white: #FFF !default;
$color-white-02: rgba($color-white, .3) !default;
$color-black: #000 !default;
$color-green-01: #1de9b6 !default;
$color-green-01h: #27C07F !default;
$color-green-01a: #23B376 !default;

$color-red-01: #ee422f !default;
